pre.spec             {
	width: unset;
}

pre.json             {
	width: unset;
}

pre.rdf             {
	width: unset;
}

pre.fhirpath             {
	width: unset;
}

pre.graphql             {
	width: unset;
}

pre.xml              {
	width: unset;
}