pre.spec             {
	width: unset;
}

pre.json             {
	width: unset;
    overflow: auto;
}

pre.rdf             {
	width: unset;
}

pre.fhirpath             {
	width: unset;
}

pre.graphql             {
	width: unset;
}

pre.xml              {
	width: unset;
}

pre code {
    white-space: pre;
}