
pre code {
    white-space: pre; /* unwrap code*/
}

pre.json             {
	width: unset;
    overflow: auto !important; /*force scrollbar to appear*/
}

pre.spec             {
	width: unset;
}

pre.rdf             {
	width: unset;
}

pre.fhirpath             {
	width: unset;
}

pre.graphql             {
	width: unset;
}

pre.xml              {
	width: unset;
}

